body {background-color: rgb(126, 243, 126)}

body {border-style: dotted ;}

header {background-color: red;}

h1 {margin-left: 200px;}

h2 {color: red;
    margin-left: 100px;}
    
    img {height: 90px;}
    img {width: 90px}




